################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.xml
*.sln
*.vcxproj
*.filters
*.suo
*.vsidx
*.lock
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
Autosteer_AOGv5_Teensy4.1UDP_SteerReadyCAN/__vm/.Autosteer_AOGv5_Teensy4.1UDP_SteerReadyCAN.vsarduino.h
